.timeline-span {
  display: flex;
  align-items: center;
  height: 100%;
}

.timeline-span-handle {
  width: 33%;
  max-width: 15px;
  height: 90%;
  z-index: 100;
}

.timeline-span-handle:hover, .timeline-span-centre:hover {
  cursor: pointer;
  opacity: 0.75;
}

.timeline-span-centre {
  flex-grow: 1;
  height: 70%;
}